<section id="product">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="productHeading text-center">
                  <h2 class="mb-3">Productos Exclusivos</h2>
                  <ul class="list-unstyled d-flex   justify-content-center ">
                      <li><a href="#" class=" m-4  text-decoration-none text-danger fw-semibold  ">Recien Llegados</a></li>
                      <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black">Los Más Vendidos</a></li>
                      <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black">Exhibidos</a></li>
                      <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black ">Oferta especial</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-12">
              <div class="row mt-3">
                  <div class="col-lg-3 pt-1" *ngFor="let product of productList">
                      <div class="box-shadow">
                          <div class="card">
                              <img class="img-fluid" style="height: 200px;" [src]="product.nombreImagen" class="card-img-top"
                                  alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">{{product.nombre}}</h5>
                                  <p class="card-text"><span
                                          class="text-danger fw-semibold me-2">${{product.precio}}</span><del> ${{product.precio}}</del>
                                      <span class="text-success ms-2">35% Off</span></p>
                                    <p class="card-text">
                                      <span class="text-uppercase ms-2">{{product.nombreCategoria}}</span></p>
                                  <div class="row">
                                      <div class="col-6">
                                          <i class="fa-solid fa-star-half-stroke  m-0"
                                              style="color: #f1f50f;"></i>
                                              <span class="text-muted"></span>
                                      </div>
                                     <div class="col-6 text-end">
                                          <button class="btn btn-sm btn-success" (click)="addItemToCart(product)"> + Al Carrito</button>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
